In [ ]:
import pandas as pd

# Specify the correct encoding when reading the CSV file
df1 = pd.read_excel('/content/podump_(Dec).xlsx')
df2 = pd.read_excel('/content/Tiktok.xlsx')
# Display the DataFrame
#print(df1)

**Comparing two dataframes, create a new one**

In [ ]:


# Merge dataframes based on 'Order ID'
merged_df = pd.merge(df1, df2, on='Order ID', how='inner')

# Create the 'data' dataframe
data = merged_df[['Order ID', 'Session source / medium', 'Phone']]

# Print the resulting dataframe
print(data)

      Order ID Session source / medium         Phone
0       665178       tiktok / referral  923145150435
1       665191       tiktok / referral  923206821243
2       665203   tiktok.com / referral  923480775968
3       665209   tiktok.com / referral  923124655104
4       665212       tiktok / referral  923468872098
...        ...                     ...           ...
2900    786598       tiktok / referral  923248020127
2901    786623       tiktok / referral  923044119083
2902    786636       tiktok / referral  923163359843
2903    786660      tiktok / (not set)  923322074535
2904    786674       tiktok / referral  923495814300

[2905 rows x 3 columns]

**Rentention
**

In [ ]:

duplicates = data[data['Phone'].duplicated()]

# Display the DataFrame with duplicate values in the 'Phone' column
print(duplicates)

      Order ID Session source / medium         Phone
67      669664       tiktok / referral  923122867742
89      671403   tiktok.com / referral  923428433053
149     675007   tiktok.com / referral  923045262682
191     677088       tiktok / referral  923222615060
196     677283   tiktok.com / referral  923231758843
...        ...                     ...           ...
2788    782024   tiktok.com / referral  923225029627
2814    782988   tiktok.com / referral  923496504925
2841    784163   tiktok.com / referral  923409751727
2889    786028       tiktok / referral  923219288940
2896    786377   tiktok.com / referral  923251773352

[134 rows x 3 columns]

**Churn**

In [ ]:



# Find unique values in the 'Phone' column
unique_values = data['Phone'].unique()

# Create a new DataFrame from the unique values
df_unique = pd.DataFrame({'Phone': unique_values})

# Display the resulting DataFrame
print(df_unique)

             Phone
0     923145150435
1     923206821243
2     923480775968
3     923124655104
4     923468872098
...            ...
2766  923248020127
2767  923044119083
2768  923163359843
2769  923322074535
2770  923495814300

[2771 rows x 1 columns]

In [ ]:
# Merge the two DataFrames on the 'Phone' column
merged_df = pd.merge(duplicates, df_unique, on='Phone')

# Drop duplicates based on the 'Phone' column
unique_merged_df = merged_df.drop_duplicates(subset='Phone')

# Display the resulting DataFrame
print(unique_merged_df)
#print(sum(unique_merged_df['Phone']))

Empty DataFrame
Columns: [Order ID, Session source / medium, Phone]
Index: []